In [ ]:
#Your task is to create a Python script that analyzes the records to calculate each of the following:

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
pwd

'/Users/hopeforrester/Documents/FinTech/Homework/python-homework/PyBank'

In [5]:
budgetdatadf = pd.read_csv('budget_data.csv')
budgetdatadf

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [6]:
budgetdatadf.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [10]:
budgetdatadf = pd.read_csv('budget_data.csv' , parse_dates=['Date'])
#manipulate the data in that particular column
budgetdatadf['Date'] = budgetdatadf['Date'].dt.to_period(freq = 'M')
budgetdatadf.head(30)

       Date  Profit/Losses
0   2010-01         867884
1   2010-02         984655
2   2010-03         322013
3   2010-04         -69417
4   2010-05         310503
5   2010-06         522857
6   2010-07        1033096
7   2010-08         604885
8   2010-09        -216386
9   2010-10         477532
10  2010-11         893810
11  2010-12         -80353
12  2011-01         779806
13  2011-02        -335203
14  2011-03         697845
15  2011-04         793163
16  2011-05         485070
17  2011-06         584122
18  2011-07          62729
19  2011-08         668179
20  2011-09         899906
21  2011-10         834719
22  2011-11         132003
23  2011-12         309978
24  2012-01        -755566
25  2012-02        1170593
26  2012-03         252788
27  2012-04        1151518
28  2012-05         817256
29  2012-06         570757

In [11]:
#The total number of months included in the dataset.
budgetdatadf = budgetdatadf.groupby(by=['Date']).sum()
budgetdatadf

         Profit/Losses
Date
2010-01         867884
2010-02         984655
2010-03         322013
2010-04         -69417
2010-05         310503
...                ...
2016-10         102685
2016-11         795914
2016-12          60988
2017-01         138230
2017-02         671099

[86 rows x 1 columns]

In [18]:
budgetdatadf.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [22]:
total_months = budgetdatadf.shape[0]
total_months

86

In [81]:
#The net total amount of Profit/Losses over the entire period.
budgetdatadf.sum()

Profit/Losses    38382578.0
shift1           37711479.0
netchange         -196785.0
dtype: float64

In [83]:
TotalNetPL = 38382578.0
TotalNetPL

38382578.0

In [84]:
#The average of the changes in Profit/Losses over the entire period.
budgetdatadf['shift1'] = budgetdatadf['Profit/Losses'].shift(1)
budgetdatadf.head()

         Profit/Losses    shift1  netchange
Date
2010-01         867884       NaN        NaN
2010-02         984655  867884.0   116771.0
2010-03         322013  984655.0  -662642.0
2010-04         -69417  322013.0  -391430.0
2010-05         310503  -69417.0   379920.0

In [85]:
budgetdatadf['netchange'] = budgetdatadf['Profit/Losses'] - budgetdatadf['shift1']
budgetdatadf.head()

         Profit/Losses    shift1  netchange
Date
2010-01         867884       NaN        NaN
2010-02         984655  867884.0   116771.0
2010-03         322013  984655.0  -662642.0
2010-04         -69417  322013.0  -391430.0
2010-05         310503  -69417.0   379920.0

In [86]:
budgetdatadf['netchange']

Date
2010-01         NaN
2010-02    116771.0
2010-03   -662642.0
2010-04   -391430.0
2010-05    379920.0
             ...
2016-10   -665765.0
2016-11    693229.0
2016-12   -734926.0
2017-01     77242.0
2017-02    532869.0
Freq: M, Name: netchange, Length: 86, dtype: float64

In [87]:
averagechange = {round(budgetdatadf['netchange'].mean())}
averagechange

{-2315}

In [88]:
#The greatest increase in profits (date and amount) over the entire period.
greatestincreasenum = budgetdatadf['netchange'].max()
greatestincreasenum

1926159.0

In [89]:
greatestincreasedate = budgetdatadf.netchange[budgetdatadf.netchange == budgetdatadf['netchange'].max()].index.tolist()
greatestincreasedate

[Period('2012-02', 'M')]

In [90]:
#The greatest decrease in losses (date and amount) over the entire period.
greatestdecreasenum = budgetdatadf['netchange'].min()
greatestincreasenum

1926159.0

In [91]:
greatestincreasedate = budgetdatadf.netchange[budgetdatadf.netchange == budgetdatadf['netchange'].min()].index.tolist()
greatestincreasedate

[Period('2013-09', 'M')]

In [92]:
print(f"Total Number of Months included in the data set is: {total_months}")
print(f"Net Profit/Losses is: {TotalNetPL}")
print(f"Average Change in Profit/Losses: {averagechange}")
print(f"The greatest increase in profits: {greatestincreasenum} , {greatestincreasedate}")
print(f"The greatest decrease in profits: {greatestincreasenum} , {greatestincreasedate}")

Total Number of Months included in the data set is: 86
Net Profit/Losses is: 38382578.0
Average Change in Profit/Losses: {-2315}
The greatest increase in profits: 1926159.0 , [Period('2013-09', 'M')]
The greatest decrease in profits: 1926159.0 , [Period('2013-09', 'M')]

In [94]:
#export via text file
with open('PyBank_Budget_Data.txt', "w") as file:
    file.write("Financial Analysis")
    file.write("\n")
    file.write("******************")
    file.write("\n")
    file.write(f"Total Number of Months included in the data set is: {total_months}")
    file.write("\n")
    file.write(f"Net Profit/Losses is: {TotalNetPL}")
    file.write("\n")
    file.write(f"Average Change in Profit/Losses: {averagechange}")
    file.write("\n")
    file.write(f"The greatest increase in profits: {greatestincreasenum} , {greatestincreasedate}")
    file.write("\n")
    file.write(f"The greatest decrease in profits: {greatestincreasenum} , {greatestincreasedate}")